<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos del usuario</title>
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <h2>Datos de usuario</h2>
    <form id="customer-form" th:action="@{/guardar}" method="post" th:object="${usuario}">
        <input type="hidden" name="idUsuario" th:field="*{idUsuario}">
        <br>
        <label for="nombre">Nombre </label>
        <input type="text" name="nombre" th:field="*{nombre}"/>
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span>
        <br>
        <label for="apellido">Apellido </label>
        <input type="text" name="apellido" th:field="*{apellido}"/>
        <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error apellido</span>
        <br>
        <label for="rol">Rol </label>
        <select th:field="*{rol.idRol}" name="rol">
            <option value="0" selected>Seleccione rol</option>
            <option th:each="rol : ${roles}"
                    th:value="${rol.idRol}"
                    th:text="${rol.descripcion}">
            </option>
        </select>
        <span th:if="${#fields.hasErrors('rol')}" th:errors="*{rol}">Error rol</span>
        <br>
        <label for="tipoDocumento">Tipo de documento </label>
        <select th:field="*{tipoDocumento.idTipoDocumento}" name="tipoDocumento">
            <option  value="0" selected>Seleccione tipo de documento</option>
            <option th:each="tipoDocumento : ${tiposDocumentos}"
                    th:value="${tipoDocumento.idTipoDocumento}"
                    th:text="${tipoDocumento.descripcion}">
            </option>
        </select>
        <br>
        <label for="numeroDocumento">Número de documento </label>
        <input type="text" name="numeroDocumento" th:field="*{cedula}"/>
        <span th:if="${#fields.hasErrors('cedula')}" th:errors="*{cedula}">Error cedula</span>
        <br>
        <label for="perfil">Perfil </label>
        <select th:field="*{perfil}" name="perfil">
            <option  value="" selected>Seleccione el tipo de perfil</option>
            <option th:each="perfil : ${T(co.gov.mintic.tesoreria.thymeleaf.entities.Perfil).values()}"
                    th:value="${perfil}"
                    th:text="${perfil}">
            </option>
        </select>
        <span th:if="${#fields.hasErrors('perfil')}" th:errors="*{perfil}">Error perfil</span>
        <br>
        <label for="correo">Correo </label>
        <input type="email" name="correo" th:field="*{correo}"/>
        <span th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">Error correo</span>
        <br>
        <label for="pass">Password </label>
        <input type="text" name="pass" th:field="*{clave}"/>
        <span th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}">Error clave</span>
        <br>
        <input type="submit" name="guardar" value="Guardar">
    </form>

</body>
</html>